/*

!.gitignore
!.gitmodules
!btop
!doom
!emacs*/init.el*
!emacs*/custom.el*
!foot
!helix
!hypr
!i3blocks
!kitty
!mako
!nautilus
!neofetch
!nvim*
!opencode
!sway
!user-dirs.dirs
!wallpaper.jpg
!xkb

.cache
node_modules
