[user]
	email = aaro@koivukangas.cc
	name = Aaro Koivukangas
	signingkey = /home/martti/.ssh/id_ed25519.pub
[alias]
	ci = commit
	st = status
	co = checkout
	br = branch
[init]
	defaultBranch = main
[pager]
	branch = false
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[merge]
	tool = nvimdiff
    conflictstyle = diff3
[mergetool]
	prompt = false
[commit]
	gpgsign = true
[gpg]
	format = ssh
